.outofbounds {
	height: 100vh;
	background-color: grey;
	overflow: hidden;
}

.screenBackground {
	background-color: aliceblue;
	border: 10px solid black;
	position: relative;
	width: 2800px;
	height: 1400px;
}
