.outofbounds {
	height: 100vh;
	background-color: grey;
	overflow: hidden;
}

.screenBackground {
	background-image: url("../images/background.jpg");
	background-size: 2800px;
	transform: rotate(90deg);
	border: 10px solid black;
	position: relative;
	width: 2800px;
	height: 1400px;
}
