$primary: #ffffff;
$secondary: #cccccc;
$third: #444444;
$postit: #ffff88;

.noteContainer {
	margin: 1em;
	height: 200px;
	width: 200px;
	padding: 5px;
	box-shadow: 7px 7px 10px #111010;
	transform: rotate(-6deg);
	.textarea {
		position: fixed;
		top: 35px;
		width: 187px;
		font-size: 15px;
	}
	.noteBtn {
		position: fixed;
		right: -5px;
		top: -5px;
		padding: 0px 8px;
		background: none;
	}
}
// .noteContainer:hover {
// 	cursor: grab;
// }
