$primary: #ffffff;
$secondary: #cccccc;
$third: #444444;

.subjectContainer {
	position: relative;
	display: inline-block;
	background-image: url(../images/subject-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 1em;
	width: 250px;
	height: 250px;

	.titleHeader {
		margin-top: 10px;
		font-family: sans-serif;
		color: $secondary;
		font-size: 30px;
		text-transform: capitalize;
	}

	.subOwner {
		color: $secondary;
		padding-top: 170px;
		font-size: 20px;
	}
	.Btn {
		position: absolute;
		color: $secondary;
		border: none;
		font-size: 30px;
		opacity: 0.7;
		padding: 0px 8px;
		width: 30px;
		height: 30px;
	}

	.deleteBtn {
		right: 15px;
		bottom: 0px;
	}
	.editBtn {
		left: 0px;
		bottom: 0px;
	}
	.inviteBtn {
		left: 67px;
		bottom: -3px;
		border: 1px solid $secondary;
		border-radius: 15px;
		width: 95px;
		height: 34px;
		font-size: 28px;
	}
	.joinBtn {
		width: 240px;
		height: 200px;
		left: -5px;
		top: -5px;
		color: $secondary;
		opacity: 0;
		font-size: 45px;
		p {
			position: absolute;
			opacity: 1;
			top: 40px;
			left: 65px;
		}
	}
	.Btn:hover,
	.titleHeader:hover {
		color: #998484;
		cursor: pointer;
	}
	.popUp {
		color: $third;
		position: absolute;
		top: 150px;
		border-radius: 20px;
		background-color: $secondary;
		padding: 10px 20px;
		left: 25px;
		transition: 0.5s ease-in-out;
	}
	.joinBtn:hover {
		color: $third;
		background-color: $primary;
		opacity: 0.2;
		transition: ease-in-out;
		transition: 0.5s;
	}
}
