$primary: #ffffff;
$secondary: #cccccc;
$third: #444444;
$postit: #ffff88;

.userContainer {
	position: fixed;
	top: 90px;
	right: 15px;
	font-size: 30px;
	background-color: #ffffffc9;
	border-radius: 20px;
	transition: 0.2s;
	z-index: 101;
	.userContentContainer {
		position: fixed;
		right: 20px;
		top: 95px;
		transition: 0.4s;
		cursor: pointer;
	}
}
