$primary: #ffffff;
$secondary: #cccccc;
$third: #444444;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'peaelliebellie';
	src: local('peaelliebellie'), url(./fonts/peaelliebellie.ttf) format('truetype');
}

body {
	color: $third;

	font-family: "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	height: 100vh;
}
button {
	background: none;
	border-radius: 5px;
	padding: 6px 14px;
	font-size: 20px;
	margin: 10px;
}
button:hover {
	cursor: pointer;
	color: #998484;
	border: 2px solid #998484;
}
.btnHome {
	border: none;
	font-size: 40px;
	padding: 15px 20px;
	margin: 0;
}
.btnLogin {
	margin: 15px 10px;
	padding: 10px 10px;
	background: $primary;
}
.btnHome:hover {
	border: none;
}
input {
	border: 1px solid $third;
	color: $third;
	margin: 5px 0;
	padding: 0px 5px;
}
// this needs to be fixed tbd later
.navContainer {
	top: 0;
	left: 0;
	z-index: 100;

	div {
		display: flex;
		justify-content: space-between;
	}
}
